<%if @user == current_user %>
	<h1>
    My Profile
    <%= link_to 'Edit Profile', edit_user_path, class: "btn btn-warning btn-sm" %>
  </h1>
<% else %>
  <% if @user.firstname.blank? and @user.lastname.blank? %>
	  <h1>User Profile</h1>
  <% else %>
    <h1><%= @user.fullname %>'s Profile</h1>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-profile">
      
      <div class="row">
        <div class="col-md-4">
          <div class="avatar-profile">
            <%= image_tag @user.avatar.url(:medium) %>
          </div>
          <div class="aligned-center">
            <% if @user.followers.include?(current_user) %>
              <%= link_to 'Unfollow', unfollow_user_path(@user), class: "btn btn-danger btn-sm" %>
            <% elsif current_user!= @user %>
              <%= link_to 'Follow', follow_user_path(@user), class: "btn btn-success btn-sm" %>
            <% end %>
          </div>
        </div> <!-- /col -->
        <div class="col-md-8">
          <div class="profile-table">
            <table>
              <!-- display email and edit login only if user views oneself -->
              <%if @user == current_user %>
                <tr>
                  <td><strong>Login email:</strong></td> 
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <td></td>
                  <td>      
                    <% if @user == current_user %>
                      <%= link_to ("Edit Login <span class='glyphicon glyphicon-edit'></span>").html_safe, edit_user_registration_path, class: "btn btn-warning btn-xs" %>
                    <% end %>
                  </td>
              </tr>
              <tr><td>&nbsp;</td><td></td></tr>
              <% end %>

              <tr>
                <td><strong>First name:</strong></td>
                <td><%= @user.firstname %></td>
              </tr>
              <tr>
                <td><strong>Last name:</strong></td>
                <td><%= @user.lastname %></td>
              </tr>
              <tr>
                <td><strong>Country:</strong></td>
                <td><%= @user.country %></td>
              </tr>
              <tr>
                <td><strong>City:</strong> </td>
                <td<%= @user.city %>></td>
              </tr>
              <tr>
                <td><strong>Gender:</strong></td>
                <td><%= @user.gender %></td>
              </tr>
              <tr>
                <td><strong>Age:</strong></td>
                <td><%= @user.age %></td>
              </tr>
              <tr>
                <td><strong>About me:</strong></td>
                <td><%= @user.about %></td>
              </tr>
            </table>   
          </div>           
        </div> <!-- /col -->
      </div> <!-- /row -->
    </div> <!-- /panal -->



    <!-- followers and following -->
    <div class="panel panel-follow">
      <p><strong>Followed by:</strong></p> 
      <% @user.followers.each do |follower| %>
        <%= render partial: "users/follow_avatar", locals: { user: follower} %>
      <% end %>
    </div>

    <div class="panel panel-follow">
      <p><strong>Following:</strong></p> 
      <% @user.all_following.each do |following| %>
        <%= render partial: "users/follow_avatar", locals: { user: following} %>
      <% end %>
    </div>

  </div>
  <div class="col-md-8">
      
      <div class="panel panel-default panel-travel-map-and-list">
        <!-- google map, legend, view big map button -->
        <div id="map_countries_profile"></div>
        <div class="container-map-legend">
          <div class="inline"><%= image_tag("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-20.png") %> countries I wanna visit </div>&nbsp;&nbsp;
          <div class="inline"><%= image_tag("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678134-sign-check-20.png") %> countries I've been to </div> 
        </div>

        <div class="container-country-travel-lists"><%= render "travel_list_tabs" %></div>
      </div>

    </div> <!-- /col -->
</div> <!-- /row -->





<!-- modal popup -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="fa fa-times fa-2x"></i>
        </button><br>   
      </div>
      <div class="modal-body">
        <iframe src="" frameborder="0" width="865px;" height="500px;"></iframe>
      </div>
      <div class="modal-footer"></div>
  </div>
</div>




<!-- google map script -->
<script>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_countries_profile'}}, function(){
  <% if @hash_country_travel_records.blank? %>
    handler.getMap().setZoom(2);

  <% elsif @hash_country_travel_records.size == 1 %>
    markers = handler.addMarkers(<%= @hash_country_travel_records.to_json.html_safe %>);
    handler.map.centerOn(markers[0]); 
    handler.getMap().setZoom(4);

  <% else %>
    markers = handler.addMarkers(<%= @hash_country_travel_records.to_json.html_safe %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

  <% end %>
});

</script>








