<h1>Manage Travel Records</h1>

<div class="row">
	<div class="col-md-6 smaller-gutter">	
		<!-- panel showing countries grouped by continents -->
		<div class="panel panel-success panel-countries">
			<h4>Below are all the countries in the world. You can mark them as "I wanna visit / I've been there", or find out more about them.</h4>
			<p>
				<div class="inline"><button class="btn btn-danger btn-xs round"><i class="fa fa-heart"></i></button> "I wanna visit!"</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="inline"><button class="btn btn-success btn-xs round"><i class="fa fa-check"></i></button> "I've been there!"</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="inline"><button class="btn btn-info btn-xs round">&nbsp;<i class="fa fa-info"></i>&nbsp;</button> Show Country Info </div>
			</p>
			<br>
			
			<%= render "continent_tabs" %>
		</div>
	</div> <!-- /col -->

	<div class="col-md-6 smaller-gutter">
		<div class="panel panel-default panel-travel-map-and-list">
			<!-- google map, legend, view big map button -->
			<div id="map_countries"></div>
			<div class="container-map-legend">
				<div class="inline"><%= image_tag("heart.png") %> countries I wanna visit </div>&nbsp;&nbsp;
				<div class="inline"><%= image_tag("check.png") %> countries I've been to </div> 
			</div>
			<div class="aligned-center"><%= link_to "View Big Map", big_map_user_path(current_user), class: "btn btn-primary btn-xs" %></div>

			<div class="container-country-travel-lists"><%= render "travel_list_tabs" %></div>
		</div>
	</div> <!-- /col -->

</div>


<!-- modal popup -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="fa fa-times fa-2x"></i>
        </button><br>   
      </div>
      <div class="modal-body">
      	<div class="loading"><%= image_tag("ajax-loader-black.gif") %></div>
        <iframe src="" frameborder="0" width="865px;" height="500px;"></iframe>
      </div>
      <div class="modal-footer"></div>
  </div>
</div>


<!-- google map script -->
<script>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_countries'}}, function(){
	<% if @hash_country_travel_records.blank? %>
		handler.getMap().setZoom(2);

	<% elsif @hash_country_travel_records.size == 1 %>
		markers = handler.addMarkers(<%= @hash_country_travel_records.to_json.html_safe %>);
		handler.map.centerOn(markers[0]); 
		handler.getMap().setZoom(4);

	<% else %>
		markers = handler.addMarkers(<%= @hash_country_travel_records.to_json.html_safe %>);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();

	<% end %>
});

</script>




<!-- current tab stays active after refreshing -->
<script>
$(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on('popstate', function() {
    var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
    $('a[href=' + anchor + ']').tab('show');
});
</script>



