<h1>Edit Travel Records</h1>

<div class="row">
	<div class="col-md-5 smaller-gutter">	
		<!-- panel showing countries grouped by continents -->
		<div id="country-tabs" class="panel panel-success panel-countries">			
			<%= render "continent_tabs" %>
		</div>
	</div> <!-- /col -->

	<div id="travel-records" class="col-md-7 smaller-gutter">
		
		<div class="panel panel-map">
			<!-- google map, legend, view big map button -->
			<div id="map_countries"></div>
			<div class="container-map-legend aligned-center">
				<div class="inline"><%= image_tag("heart.png") %> countries I wanna visit </div>&nbsp;&nbsp;
				<div class="inline"><%= image_tag("check.png") %> countries I've been to </div> 
			</div>
			<!-- <div class="aligned-center"><%#= link_to "View Big Map", big_map_user_path(current_user), class: "btn btn-primary btn-xs" %></div> -->

		</div> <!-- /map panel -->
		

		<div class="row">

			<!-- countries i wanna visit -->
			<div class="col-md-6 smaller-gutter">
				<div class="panel panel-travel-record-wannavisit">	
					<h4>Countries I wanna visit:</h4>
					<div id="wannavisit">
				        <% @user.country_travel_records_wannavisit.each do |record| %>
				          <%= render partial: "countries_wannavisit", locals: { record: record } %>
				        <% end %>
				    </div>
				</div>
			</div>

			<!-- countries i've been to -->
			<div class="col-md-6 smaller-gutter">
				<div class="panel panel-travel-record-havebeen">	
					<h4>Countries I have been to:</h4>
					<div id="havebeen">
				        <% @user.country_travel_records_havebeen.each do |record| %>
				          <%= render partial: "countries_havebeen", locals: { record: record } %>
				        <% end %>
			    	</div>
				</div>
			</div>

		</div> <!-- /row -->
	</div> <!-- /col -->

</div>


<!-- modal popup -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="fa fa-times fa-2x"></i>
        </button><br>   
      </div>
      <div class="modal-body">
      	<div class="loading"><%= image_tag("ajax-loader-black.gif") %></div>
        <iframe src="" frameborder="0" width="865px;" height="500px;"></iframe>
      </div>
      <div class="modal-footer"></div>
  </div>
</div>


<!-- google map script -->
<script>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_countries'}}, function(){
	<% if @hash_country_travel_records.blank? %>
		handler.getMap().setZoom(2);

	<% elsif @hash_country_travel_records.size == 1 %>
		markers = handler.addMarkers(<%= @hash_country_travel_records.to_json.html_safe %>);
		handler.map.centerOn(markers[0]); 
		handler.getMap().setZoom(4);

	<% else %>
		markers = handler.addMarkers(<%= @hash_country_travel_records.to_json.html_safe %>);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();

	<% end %>
});

</script>


<!-- current tab stays active after refreshing -->
<script>
$(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on('popstate', function() {
    var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
    $('a[href=' + anchor + ']').tab('show');
});
</script>

