<div class="row">
  <div class="col-md-4">
	 <%= country.country_name %> 
  </div>
	
  <div class="col-md-8">
    <button id="wiki_<%= country.id %>" class="btn btn-info btn-xs round">&nbsp;<i class="fa fa-info"></i>&nbsp;</button>&nbsp;
  	<%= link_to ("<i class='fa fa-heart'></i>").html_safe, create_update_country_travel_record_user_path(id: current_user.id, country_id: country.id, travel_status: "wannavisit"), class: "btn btn-danger btn-xs round", method: :post %>&nbsp;
  	<%= link_to ("<i class='fa fa-check'></i>").html_safe, create_update_country_travel_record_user_path(id: current_user.id, country_id: country.id, travel_status: "havebeen"), class: "btn btn-success btn-xs round", method: :post %>
  </div>
</div>
<br>

<!-- modal script -->
<script>

$("#wiki_<%= country.id %>").click(function(){

  $('.modal').on('shown.bs.modal',function(){
    $(this).find('iframe').attr('src','<%= wiki_path(country_id: country.id) %>')
  })
  
    $('.modal').modal({show:true})
    
    $('iframe').load(function() {
    $('.loading').hide();
});
    
})
</script>




