<div class="country-block">
  <% if current_user.have_added_country(country) %>
    
    <p class="inline faded"><%= country.country_name %></p>
    <p class="country-buttons faded">(already added to your travel record)</p>

  <% else %>

    <p class="inline"><%= country.country_name %></p>
    <p class="country-buttons inline">
      <% if user_signed_in? %>

      	<%= link_to ("I wanna visit").html_safe, create_update_country_travel_record_user_path(id: current_user.id, country_id: country.id, travel_status: "wannavisit"), class: "btn btn-danger btn-xs", method: :post, remote: true %>&nbsp;
      	<%= link_to ("I've been there").html_safe, create_update_country_travel_record_user_path(id: current_user.id, country_id: country.id, travel_status: "havebeen"), class: "btn btn-success btn-xs", method: :post, remote: true %>&nbsp;
          <button id="wiki_<%= country.id %>" class="btn btn-info btn-xs">More Info</button>
      <% end %>
    </p>

  <% end %>
</div>

<!-- modal script -->
<script>

$("#wiki_<%= country.id %>").click(function(){

  $('.modal').on('shown.bs.modal',function(){
    $(this).find('iframe').attr('src','<%= wiki_path(country_id: country.id) %>')
  })
  
    $('.modal').modal({show:true})
    
    $('iframe').load(function() {
    $('.loading').hide();
});
    
})
</script>




