<% if controller.class == WelcomeController && controller.action_name == 'index' %>
    <nav class="navbar landing-page-menu">
<% else %>
    <nav class="navbar navbar-inverse">
<% end %>

  <div class="container-fluid narrower-nav-top">

    <%= render "layouts/logo" %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        
        <!-- display roll-over highlight if current page -->
        <li class=
          <% if controller.class == UsersController && controller.action_name == 'travel_records' %>
            "active"
          <% end %>
        >
          <%= link_to 'Travel Records', travel_records_user_path(current_user) %>
        </li>
  
        <li class=
          <% if controller.class == UsersController && controller.action_name == 'my_connections' %>
            "active"
          <% end %>
        >
          <%= link_to 'My Connections', my_connections_user_path(current_user) %>
        </li>


          <li class=
          <% if controller.class == UsersController && controller.action_name == 'show' %>
            "active"
          <% end %>
        >
          <%= link_to 'Profile', user_path(current_user) %>
        </li>

      </ul>


  
      <p class="navbar-text navbar-right">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "navbar-link" %>
      </p>
        
      <!-- display user info -->  
      <% if !current_user.fullname.blank? %>
        <p class="navbar-text navbar-right signed-in-as-link">Signed in as <%= link_to truncate("#{current_user.fullname}", length: 30), current_user %></p>
      <% elsif !current_user.email.blank? %>
        <p class="navbar-text navbar-right signed-in-as-link">Signed in as <%= link_to truncate(current_user.email, length: 30), current_user %></p>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>